<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/removeRails.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script>
    <script type="text/javascript" src="/removeRails.js"></script>
  </head>
  <body ng-app="removeRails">
    <h1>Get some data in ya!</h1>
    <div ng-controller="removeRailsController as ctrl">
      <p>{{ ctrl.surveyIndices().length + ' Surveys found, click to view.' }}</p>
      <ul>
        <li ng-repeat="index in ctrl.surveyIndices()">
          <button class="surveyButton" ng-click="ctrl.loadSurvey(index.url)">{{ index.name }}</button>
        </li>
      </ul>
      <div id="dataPresentationContainer">
        <div class="spinner"></div>
        <div class="surveyMeta">
          <span>Survey: </span><span ng-bind="ctrl.surveyDetails.name"></span>
          <span>Participants: </span><span ng-bind="ctrl.surveyDetails.participantCount"></span>
          <span>Respondants: </span><span ng-bind="ctrl.surveyDetails.submittedResponseCount"></span>
          <span>Response rate: </span><span>{{ ((ctrl.surveyDetails.submittedResponseCount / ctrl.surveyDetails.participantCount) * 100 | number: 2) + '%' }}</span>
        </div> <!-- /surveyMeta -->
        <div class="surveyVisualContainer">
          <div class="surveyVisual">
            <ul class="themes">
              <!-- <li ng-repeat="theme in ">
              </li> -->
            </ul>
          </div> <!-- /surveyVisual -->
        </div> <!-- /surveyVisualContainer -->
      </div> <!-- /dataPresentationContainer -->
    </div> <!-- /ng-controller -->
  </body>
</html>
