<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/removeRails.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script>
    <script type="text/javascript" src="/removeRails.js"></script>
  </head>
  <body ng-app="removeRails">
    <div class="container" ng-controller="removeRailsController as ctrl">
      <h1>Survey Results</h1>
      <div class="indexPresentationContainer">
        <script type="text/javascript">document.write('<div class="spinner" ng-if="ctrl.loading() && ctrl.surveyIndices() == null"></div>');</script>
        <div class="indexPresentation" ng-show="ctrl.surveyIndices()">
          <p class="surveyNumber">{{ ctrl.surveyIndices().length + ' Surveys found, click to view.' }}</p>
          <ul class="surveyIndex">
            <li ng-repeat="index in ctrl.surveyIndices()">
              <button class="surveyButton" ng-click="ctrl.loadSurvey(index.url)">{{ index.name }}</button>
            </li>
          </ul>
        </div> <!-- /indexPresentation -->
      </div> <!-- /indexPresentationContainer -->
      <script type="text/javascript">document.write('<div class="spinner" ng-if="ctrl.loading() && ctrl.getSurveyData() == null && ctrl.surveyIndices() != null"></div>');</script>
      <div id="dataPresentationContainer" ng-if="ctrl.getSurveyData() != null">
        <div class="surveyMeta">
          <p>
            {{ 'Survey: ' + ctrl.getSurveyData().name + '; ' +
            'Participants: ' + ctrl.getSurveyData().participant_count + '; ' +
            'Respondents: ' + ctrl.getSurveyData().submitted_response_count + '; ' +
            'Response rate: ' + ((ctrl.getSurveyData().submitted_response_count / ctrl.getSurveyData().participant_count) * 100 | number: 2) + '%' }}
          </p>
        </div> <!-- /surveyMeta -->
        <div class="surveyVisualContainer">
          <div class="surveyVisual">
            <ul class="themes">
              <li class="theme" ng-repeat="theme in ctrl.getSurveyData().themes">
                <p class="themeName">{{ theme.name }}</p>
                <ul class="questions">
                  <li class="question" ng-repeat="question in theme.questions">
                    <p class="questionDescription">{{ question.description }}</p>
                    <div class="graphicContainer {{ question.question_type }}">
                      <div class="barGraphContainer">
                        <ul class="barGraph" ng-if="question.question_type == 'ratingquestion'">
                          <li ng-repeat="value in question.collated_results.totals track by $index">
                            <div class="bar" style="height: {{ value.proportional }}px; width: 30px;">
                              <span class="rawData">{{ value.raw }}</span><span class="xAxisLabel">{{ $index + 1 }}</span>
                            </div>
                          </li>
                        </ul>
                      </div> <!-- /bargraphContainer -->
                    </div> <!-- /graphicContainer -->
                    <p>{{ 'Average: ' + (question.collated_results.average | number: 2) }}</p>
                  </li>
                </ul>
              </li>
            </ul>
          </div> <!-- /surveyVisual -->
        </div> <!-- /surveyVisualContainer -->
      </div> <!-- /dataPresentationContainer -->
    </div> <!-- /ng-controller -->
  </body>
</html>
