/*===============================================
Browser reset

http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

html, body {
	height: 100%;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=========================
GENERAL
=========================*/

h1 {
  font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

.themeName {
	font-size: 1.5rem;
}

.question {
	border-bottom: solid 1px black;
}

.spinner {
    border: 8px solid #ddd;
    border-top: 8px solid dodgerblue;
    border-bottom: 8px solid dodgerblue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
		margin-left: 5rem;
}

@keyframes spin {
  0% {
		transform: rotate(0deg);
	}
  100% {
		transform: rotate(360deg);
	}
}

.themes,
.questions {
	margin: 1rem 0;
}

.barGraph {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin: 0.5rem 0;
}

.barGraph li {
	padding: 0 2px;
}

.bar {
	border-bottom: solid 1px dodgerblue;
}
